**/starexec_podman_key
**/starexec_podman_key.pub
**/problemfile

**/storage.yaml
**/.terraform
**/testingMakefile
**/ssh-keys
**/.terraform*
**/EFS_BACKUP
**/terraform.backup
**/terraform.tfstate
**/terraform.tfstate.backup
**/s3-backup


starexec-proxy-provers/__pycache__
.env
*.log
*~
venv/
# SSH keys for Podman
**/*key
**/*.pub

# Certificates
**/*.crt

# Build logs
build-*.log

# Visual Studio Code workspace settings
.vscode

# Backup files
**/state*
**/backup*

*.zip
*.tar
*.tgz
*.tar.xz
*.tar.gz
*.tar.bz2